.index-container {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-container {
  text-align: center;
  width: 70%;
  border: 1px rgb(0, 0, 0) groove;
  border-radius: 10px;
}

.add-f-button {
  width: 83%;
  text-align: end;
  margin: 0 5rem 1.5rem 0;
}

.button-af {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.add_food_button {
  text-decoration: none;
  color: black;
}

.button-af:hover {
  background-color: #23c483;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button-af:active {
  transform: translateY(-1px);
}
