@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');

a {
  text-decoration: none;
  color: #222;
}

li {
  list-style-type: none;
}

.button-si {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.brand {
  font-weight: 500;
  font-size: 20px;
  font-family: 'Edu TAS Beginner', sans-serif;
}

.site-header {
  display: flex;
  justify-content: center;
  background-color: #d3dfff;
  margin-bottom: 20px;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 630px) {
  .site-header__wrapper {
    justify-content: initial;
  }
}

@media (min-width: 630px) {
  .site-header__middle {
    padding-left: 30rem;
  }
}

@media (max-width: 629px) {
  .site-header__end {
    padding-right: 4rem;
  }
}

@media (min-width: 630px) {
  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 629px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.nav__item a {
  display: block;
  padding: 1rem;
}

.nav__toggle {
  display: none;
}

@media (max-width: 629px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
