.recipes {
    width: 80%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    h2 {
      font-weight: 600;
    }
  
    ul.recipes-list{
      list-style: none;
      padding: 0;
      width: 100%;
  
      li {
        display: flex;
        background-color: #fff;
        padding: 12px 16px;
        margin: 8px 0;
        align-items: flex-start;
        border-radius: 2px;
        justify-content: space-between;
  
        .label {  
            width: 50%;
          a{
            text-decoration: none;
            color: black;
          }
          h4 {
            margin: 0;
            font-size: 18px;
            font-weight: 600;
          }
          p {
            margin: 0;
            font-size: 14px;
          }
          .delete-recipe {
            border:0;
            background-color: transparent;
            text-decoration: underline;
          }
        }
  
        .desc {
          width: 100%;
          p {
            margin: 0;
            font-size: 14px;
          }
        }
      }
    }
    .add-btn{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

.new_recipe {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-weight: 600;
  }
  form {
    width:100%;
    .field{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 1rem 0;

      label {
        margin-bottom: 4px;
      }
      input {
        height: 32px;
      }
    }
  }
}
  