<div class="shoppings">
  <h1 class='shop-title'>Shopping List</h1>
  <div class='flex-shop'>
    <h2 class='amount'>Amount of food items to buy: 3</h2>
    <h2>Total value of food needed: $819</h2>
  </div>
  <table>
          <thead>
            <tr>
              <th>Food</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% @shoppings.each do |shopping| %>
              <tr>
                <td><%= shopping.name %></td>
                <td><%= shopping.quantity %></td>
                <td><%= shopping.price %></td>
              </tr>
            <% end %>    
          </tbody>
    </table>
</div>